Repository ID-JA/2tinylink, pull requests merged in 2023-04, with the labels that each got.

#62 add features section
  client/.gitignore
  client/components/common/Button.tsx
  client/components/common/index.ts
  client/components/home/Feature.tsx
  client/components/home/Home.tsx
  client/components/home/index.ts
  client/components/layout/home/index.tsx
  client/package-lock.json
  client/package.json
  client/pages/index.tsx
  client/public/icons/analytics.svg
  client/public/icons/api.svg
  client/public/icons/clock.svg
  client/public/icons/customizable.svg
  client/public/icons/global.svg
  client/public/icons/protected.svg
  client/public/icons/qr-code.svg
Labels: enhancement, client

#75 Implement ActiveSuperuserOnly policy for pro shortlink creation endpoint
  server/src/Infrastructure/Authorization/ActiveSuperuserHandler.cs
  server/src/Infrastructure/Authorization/ActiveSuperuserOnlyRequirement.cs
  server/src/Infrastructure/Extensions/DependencyInjectionExtensions.cs
  server/src/Infrastructure/Persistence/AppDbContextInitializer.cs
  server/src/WebUI/Controllers/ProAliases.cs
Labels: documentation, server

#76 :memo: Update Server Endpoints Docs
  server/2tinylink.postman_collection.json
  server/README.md
Labels: documentation, server

#78 Add Custom Alias in pro shortening
  server/2tinylink.postman_collection.json
  server/README.md
  server/src/Application/Common/Helpers/Consts/AppRegEx.cs
  server/src/Application/Common/Interfaces/Services/IAliasProvider.cs
  server/src/Application/Common/Interfaces/Services/IUniqueIdProvider.cs
  server/src/Application/UseCases/Auth/Commands/Register/RegisterCommandValidator.cs
  server/src/Application/UseCases/LinkShortening/Commands/Common/ShorteningCommandHandler.cs
  server/src/Application/UseCases/LinkShortening/Commands/ProShortening/ProShorteningCommand.cs
  server/src/Application/UseCases/LinkShortening/Commands/ProShortening/ProShorteningCommandHandler.cs
  server/src/Application/UseCases/LinkShortening/Commands/ProShortening/ProShorteningCommandValidator.cs
  server/src/Application/UseCases/LinkShortening/Commands/StandardShortening/StandardShorteningCommandHandler.cs
  server/src/Infrastructure/Extensions/DependencyInjectionExtensions.cs
  server/src/Infrastructure/Services/AliasProvider.cs
  server/src/Infrastructure/Services/UniqueIdProvider.cs
  server/src/WebUI/Contracts/Shortening/ProShortening/ProShorteningRequest.cs
  server/src/WebUI/Controllers/ProAliases.cs
Labels: enhancement, server
